{% extends 'base.html' %}

{% block content %}
  {% if user %}
    <div class="row justify-content-end">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <div class="card user-card">
              <div class="card-inner">
                <div class="image-wrapper">
                  <img src="{{ user.header_image_url }}" alt="" class="card-hero">
                </div>
                <div class="card-contents">
                  <a href="/users/{{ user.id }}" class="card-link">
                    <img src="{{ user.image_url }}" alt="Image for {{ user.username }}" class="card-image">
                    <p>@{{ user.username }}</p>
                  </a>
                </div>
                <p class="card-bio">{{ user.bio }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <h3>Sorry, no user found</h3>
  {% endif %}
{% endblock %}
